@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.btn.active {
  background-color: gray;
  color: white;
}

.card-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
